<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="seniordesign.ratemybusinesspartners">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/rmbp_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/MainActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchEngine"
            android:label="Search Company"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchResults"
            android:label="@string/title_search_results"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name=".CompanyProfile"
            android:label="@string/title_activity_company_profile"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".WriteReview"
            android:label="@string/title_activity_write_review"
            android:parentActivityName=".CompanyProfile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReviewResults"
            android:label="@string/title_activity_review_results"
            android:parentActivityName=".CompanyProfile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewReview"
            android:label="@string/title_activity_view_review"
            android:parentActivityName=".ReviewResults"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name=".SelectCompanyPopUp"
            android:theme="@style/Theme.PopUp" />
        <activity
            android:name=".HomePage"
            android:label="@string/title_activity_home_page"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MyAccount"
            android:label="@string/title_activity_my_account"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".BaseActivity"></activity>
    </application>

</manifest>
